body{
	min-height: 100vh;
	padding: 15px;
	background: linear-gradient(135deg, rgb(108, 78, 83), rgb(242, 204, 192));
}
.todolist{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: auto;
}